# =========================
# DATABASE CONFIGURATION
# =========================
# Supabase connection string
# Go to:
# Supabase dashboard -> Connect icon -> ORMs -> Connect to Supabase via connection pooling

# PROJECT_ID:
# Found in Project Settings -> Project ID (But is should be already included in your database URL)

# YOUR-PASSWORD:
# It is defined when creating the database
# If needed, reset it in: 
# Database Settings -> Database Password -> Reset
DATABASE_URL="postgresql://postgres.[PROJECT_ID]:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# ===========================
# SERVER CONFIGURATION
# ===========================
# Port where Fastify Server will be running
PORT=8080

# ====================
# JWT CONFIGURATION
# ====================
# Secret used to sign JWT tokens for local autentication
JWT_SECRET="your_random_secret"

# ====================================
# MICROSOFT ENTRA APP CONFIGURATION
# ====================================
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret

# Must match Redirect URI configured during App Registration
AZURE_REDIRECT_URI=http://localhost:8080/auth/msal/callback

# Login endpoint for your tenant
AZURE_AUTHORITY=https://login.microsoftonline.com/[YOUR_TENANT_ID]/v2.0

# Your custom scope for token generation and verifications
AZURE_SCOPE=api://[YOUR_CLIENT_ID]/access_as_user;

# N8N Web Hook URL
N8N_WEBHOOK_URL=[add_production_web_hook_url]

# OLLAMA HOST URL IN UBUNTU SERVER
OLLAMA_HOST=[YOUR_OLLAMA_HOST_URL]